{
    "presets": ["next/babel"],
    "plugins": [
        ["prismjs", {
            "languages": ["javascript", "css", "markup", "python", "c", "cpp"],
            "plugins": ["line-numbers"],
            "theme": "",
            "css": true
        }]
    ]
}